/* NavBar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  position: relative;
  z-index: 100;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.logoOpen {
  transform: scale(1.1); /* Agrandissement léger lors de l'ouverture du menu */
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s ease-in-out;
}

.navItem {
  margin-left: 20px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.navLink:hover {
  color: #ffcc00;
  transform: scale(1.05);
}

.navLink::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffcc00;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navLink:hover::after {
  transform: scaleX(1);
}

/* Menu responsive */
.menuToggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Styles pour les barres quand le menu est ouvert */
.barOpen1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.barOpen2 {
  opacity: 0;
}

.barOpen3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive */
@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .navListOpen {
    transform: translateX(0);
  }

  .menuToggle {
    display: flex;
  }

  .navItem {
    margin: 20px 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .navListOpen .navItem {
    opacity: 1;
    transition-delay: 0.2s;
  }
}
