/* Actions.module.css */
.actionsContainer {
  padding: 20px;
}

.actionsTitle {
  color: #ff6600;
  font-size: 32px;
}

.actionsList {
  list-style-type: none;
  padding: 0;
}

.actionsItem {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}
