/* VideoModal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;  /* Commence en haut de la page */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);  /* Assombrit l'arrière-plan */
    display: flex;
    justify-content: center;
    align-items: center;  /* Centre verticalement et horizontalement */
    z-index: 1000;  /* S'assure que la modal est au-dessus de tout */
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;  /* Utiliser une largeur plus petite pour mobile */
    max-width: 600px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-height: 90vh; /* Limite la hauteur à 90% de la hauteur de la fenêtre */
    overflow-y: auto; /* Permet le défilement interne si le contenu dépasse la hauteur */
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }
  
  .modalContent h2 {
    color: #fdca1d;
    margin: 10px 0;
    text-align: center;
  }
  
  .modalContent iframe {
    border: none;
    width: 100%;
    height: 315px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Ajustements pour petits écrans */
  @media (max-width: 768px) {
    .modalContent {
      width: 95%;  /* Ajuste la largeur sur les petits écrans */
      padding: 15px;  /* Réduire le padding */
    }
  
    .modalContent iframe {
      height: 200px; /* Réduire la hauteur des vidéos sur mobile */
    }
  }
  