/* Modal Overlay pour empêcher le défilement et centrer le modal */
.modalOverlay {
    position: fixed;
    top: 0; /* Réajusté pour être centré sur l'écran */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay sombre */
    display: flex;
    justify-content: center;
    align-items: center; /* Centre le contenu verticalement */
    z-index: 1000; 
    overflow-y: auto; /* Ajout pour gérer le débordement si nécessaire */
  }
  
  /* Contenu du Modal */
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%; /* Ajusté pour mobile */
    max-width: 600px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    text-align: center; /* Centrer le contenu */
  }
  
  /* Bouton de fermeture */
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }
  
  /* Titres dans le modal */
  .modalContent h2 {
    color: #fdca1d; 
    margin: 10px 0; 
  }
  
  /* Styles pour les iframes (vidéos) */
  .modalContent iframe {
    border: none;
    width: 100%; /* Adapter à la largeur de l'écran */
    height: 200px; /* Hauteur plus petite pour les mobiles */
    margin-bottom: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  /* Ajustements spécifiques pour les petits écrans */
  @media (min-width: 768px) {
    .modalContent iframe {
      height: 315px; /* Taille par défaut sur des écrans plus larges */
    }
  }
  